head
  title Macon Maps
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  link(href='/stylesheets/united.min.css', rel='stylesheet', type='text/css')
  link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Nixie+One', rel='stylesheet', type='text/css')
  link(href='/stylesheets/responsiveevent.css', rel='stylesheet', type='text/css')
  script(type="text/javascript", src="/scripts/homeswitch.js")
body(style='font-family: "Nixie One", arial;')

  div.container-fluid(style='padding-top:25px;')
    .row-fluid
      .span2
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Welcome to
            li.active
              a(href="/") MaconMaps.com
            
            li.nav-header Datasets
            li
              a(href="http://datahub.io/dataset/mta-bus-tracking", target="_blank") Buses
            li
              a(href="http://datahub.io/dataset/macon-parks") Parks
            li
              a(href="http://homestatus.herokuapp.com", target="_blank") Housing
            li
              a(href="http://maconmaps.herokuapp.com/promise", target="_blank") Buildings

            li.nav-header Created by
            li
              a(href="http://codeforamerica.org") Code for America
            li
              a(href="http://knightfoundation.org") Knight Foundation
            li
              a(href="http://cityofmacon.net") City of Macon

        
      .span10
        img#backupimg(src="/images/MaconTiltShadow.png")
        .row-fluid
          .span12
            .well#eventpiece
              h1(style='font-size:30pt;') Macon Maps
              br
              h3 Open Data for Middle Georgia
              br
              img(src="/images/cfaflag.png", width="130", style="width:130px;margin-right:70px;")
              div(style="clear:both;")

        .row-fluid
          .span6
            h2 About OpenStreetMap
            p
              h4 Code for America is opening data to make the best map of Macon, ever.
            p
              span When you edit&nbsp;
              a(href='http://www.openstreetmap.org/?lat=32.845&lon=-83.6348&zoom=14&layers=Q') OpenStreetMap
              span &nbsp;you're making a better map for all of us.
            p How do companies catch up to Google and release their own maps?&nbsp;
              a(href="http://arstechnica.com/apple/2012/05/two-months-later-apple-acknowledges-use-of-openstreetmap-in-iphoto/") They use OpenStreetMap.
            p Craigslist is&nbsp;
              a(href="http://idealab.talkingpointsmemo.com/2012/08/craigslist-maps-test-openstreetmap.php") mapping your next apartment
              span &nbsp;on OpenStreetMap.
            p Foursquare uses and edits OpenStreetMap&nbsp;
              a(href="http://foursquare.com") to map places and check-ins worldwide
            p OpenStreetMap is even used to make&nbsp;
              a(href="http://softcities.net/") blankets and "mapkins".
     
          .span6
            h2 Data Tips
            ul
              li(style="padding-bottom:10px;")
                span You can view almost any KML file in Google Maps. Paste the URL into the search bar,&nbsp;
                a(href="https://maps.google.com/maps?q=http:%2F%2Fhistoric-macon.herokuapp.com%2Ftimeline-at.kml%3Fcustomgeo%3D5080a0bf5766800200000346%26r%3D2&hl=en&sll=32.858168,-83.677044&sspn=0.039727,0.074587&t=m&z=14") like this.
              li(style="padding-bottom:10px;")
                span You can download Macon and Bibb County from OpenStreetMap at&nbsp;
                a(href="http://metro.teczno.com/") metro.teczno.com
              li(style="padding-bottom:10px;") When building on top of OpenStreetMap, the data is free, but always give credit.
              li(style="padding-bottom:10px;")
                span The US Census maps the entire US at&nbsp;
                a(href="http://www.census.gov/geo/www/tiger/shp.html") TIGER.
              li(style="padding-bottom:10px;")
                span Make your own maps by downloading&nbsp;
                a(href="http://mapbox.com/tilemill/") TileMill
                span &nbsp;or using&nbsp;
                a(href="http://cloudmade.com/products/style-editor") CloudMade
                span &nbsp;online.

        .row-fluid
          .span6
            a(name="government")
            h2 Government: public data online
            p The map of Macon builds on data from the City of Macon, Bibb County, the Macon Water Authority, the Middle Georgia Regional Commission, and Macon-Bibb Planning and Zoning Commission. In addition to contributing data, governments can also get data back.
            p
              span OpenStreetMap users have mapped historic sites, such as&nbsp;
              a(href="http://wikimania2012.wikimedia.org/wiki/OpenStreetMap_mapping_party") Congressional Cemetery
              span &nbsp;in Washington, DC.
            p
              span The USGS and National Park Service use OpenStreetMap data to build up their national maps.
              ul
                li
                  a(href="http://pubs.usgs.gov/of/2011/1136/") USGS Study
                li
                  a(href="http://www.nps.gov/npmap/decks/choosing-the-right-tool-for-the-job/#1") NPS Presentation

          .span6
            a(name="community")
            h2 Community Groups: 
            p
              a(href="http://maconhabitat.org") Habitat for Humanity in Macon
              span &nbsp;built on the county's building footprints map to show their impact on their neighborhood.
              a(href="http://maconmaps.herokuapp.com/everything.html?table=lynmore&user=mapmeld&lat=32.787338&lng=-83.646888&z=17") View Map
            p
              a(href="http://www.collegehillmacon.com/") The College Hill Alliance
              span &nbsp;mapped housing violations in their neighborhood over the past 15 years. The code is open source, so anyone can make a timeline by drawing their neighborhood on&nbsp;
              a(href="http://maconmaps.herokuapp.com/timeline-maker") this map.
              span OpenStreetMap was the best basemap for the job.
            p
              a(href="http://www.historicmacon.org/") Historic Macon
              span &nbsp;had their historic houses' build dates mapped over OpenStreetMap.&nbsp;
              a(href="http://historic-macon.herokuapp.com/timeline?customgeo=5080a0bf5766800200000346") Timeline-Map

        .row-fluid
          .span12
            a(name="programmers")
            h2 Programmers: build on it
            p(style="font-size:16pt;") Select an OpenStreetMap style
            .row-fluid.nav.nav-tabs
              li.span3.active#mapquesttab
                a(href="javascript:setTile('mapquest')")
                  img.span12(src="http://otile4.mqcdn.com/tiles/1.0.0/osm/15/8771/13216.png")
                  br
                  span MapQuest Open
              li.span3#skobblertab
                a(href="javascript:setTile('skobbler')")
                  img.span12(src="http://tiles1.skobbler.net/osm_tiles2/15/8771/13216.png")
                  br
                  span Skobbler
              li.span3#stamentab
                a(href="javascript:setTile('stamen')")
                  img.span12(src="http://a.tile.stamen.com/toner/15/8771/13216.png")
                  br
                  span Stamen Toner
              li.span3#mapniktab
                a(href="javascript:setTile('mapnik')")
                  img.span12(src="http://a.tile.openstreetmap.org/15/8771/13216.png")
                  br
                  span Mapnik
            
            p(style="font-size:16pt;") Display this map in

        .row-fluid
          ul.span4.nav.nav-tabs.nav-stacked
            li#osmgoogletab.active
              a(href="javascript:switchTo('osmgoogle');") Google Maps
            li#esrijstab
              a(href="javascript:switchTo('esrijs');") Esri JS
            li#esriflextab
              a(href="javascript:switchTo('esriflex');") Esri Flex
            li#leaflettab
              a(href="javascript:switchTo('leaflet');") Leaflet
            li#openlayerstab
              a(href="javascript:switchTo('openlayers');") OpenLayers
            li#mapboxtab
              a(href="javascript:switchTo('mapbox');") MapBox / MM
          div.span8.well#osmgoogle(style="font-family:courier;")
            span map = new google.maps.Map(document.getElementById("map"), { mapTypeControlOptions:{ mapTypeIds:[google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.SATELLITE, 'MapQuest'] } });
            br
            span osmLayer = new google.maps.ImageMapType({
            br
            span &nbsp;&nbsp;getTileUrl: function(coord, zoom){
            br
            span.mapquesturl &nbsp;&nbsp;&nbsp;&nbsp;return "http://otile1.mqcdn.com/tiles/1.0.0/osm/" + zoom + "/" + coord.x + "/" + coord.y + ".jpg";
            span.skobblerurl(style="display:none;") &nbsp;&nbsp;&nbsp;&nbsp;return "http://tiles1.skobbler.net/osm_tiles2/" + zoom + "/" + coord.x + "/" + coord.y + ".png";
            span.stamenurl(style="display:none;") &nbsp;&nbsp;&nbsp;&nbsp;return "http://a.tile.stamen.com/toner/" + zoom + "/" + coord.x + "/" + coord.y + ".png";
            span.mapnikurl(style="display:none;") &nbsp;&nbsp;&nbsp;&nbsp;return "http://a.tile.openstreetmap.org/" + zoom + "/" + coord.x + "/" + coord.y + ".png";
            br
            span &nbsp;&nbsp;},
            br
            span &nbsp;&nbsp;tileSize: new google.maps.Size(256, 256),
            br
            span &nbsp;&nbsp;isPng: false,
            br
            span &nbsp;&nbsp;alt: "OpenStreetMap",
            br
            span &nbsp;&nbsp;name: "OpenStreetMap",
            br
            span &nbsp;&nbsp;maxZoom: 19
            br
            span });
            br
            span map.mapTypes.set('OpenStreetMap', osmLayer);
          div.span8.well#esrijs(style="display:none;font-family:courier;")
            span osmLayer = new esri.layers.OpenStreetMapLayer({
            br
            span.mapquesturl &nbsp;&nbsp;tileServers: [ "http://otile1.mqcdn.com/tiles/1.0.0/osm/" ]
            span.skobblerurl(style="display:none;") &nbsp;&nbsp;tileServers: [ "http://tiles1.skobbler.net/osm_tiles2/" ]
            span.stamenurl(style="display:none;") &nbsp;&nbsp;tileServers: [ "http://a.tile.stamen.com/toner/" ]
            span.mapnikurl(style="display:none;") &nbsp;&nbsp;tileServers: [ "http://a.tile.openstreetmap.org/" ]
            br
            span });
            br
            span map.addLayer(osmLayer);
            br
          div.span8.well#esriflex(style="display:none;font-family:courier;")
            span &lt;esri:Map logoVisible="false" wrapAround180="true"&gt;
            br
            span &nbsp;&nbsp;&lt;esri:OpenStreetMapLayer&gt;
            br
            span &nbsp;&nbsp;&nbsp;&nbsp;&lt;esri:tileServers&gt;
            br
            span.mapquesturl &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;fx:String&gt;http://otile1.mqcdn.com/tiles/1.0.0/osm/&lt;/fx:String&gt;
            span.skobblerurl(style="display:none;") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;fx:String&gt;http://tiles1.skobbler.net/osm_tiles2/&lt;/fx:String&gt;
            span.stamenurl(style="display:none;") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;fx:String&gt;http://a.tile.stamen.com/toner/&lt;/fx:String&gt;
            span.mapnikurl(style="display:none;") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;fx:String&gt;http://a.tile.openstreetmap.org/&lt;/fx:String&gt;
            br
            span &nbsp;&nbsp;&nbsp;&nbsp;&lt;/esri:tileServers&gt;
            br
            span &nbsp;&nbsp;&lt;/esri:OpenStreetMapLayer&gt;
            br
            span &lt;/esri:Map&gt;
            br

          div.span8.well#leaflet(style="display:none;font-family:courier;")
            span L.tileLayer( '
            span.mapquesturl(style="display:inline;") http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.jpg
            span.skobblerurl(style="display:none;") http://tiles1.skobbler.net/osm_tiles2/{z}/{x}/{y}.png
            span.stamenurl(style="display:none;") http://a.tile.stamen.com/toner/{z}/{x}/{y}.png
            span.mapnikurl(style="display:none;") http://a.tile.openstreetmap.org/{z}/{x}/{y}.png
            span ' ).addTo(map);
            br
          div.span8.well#openlayers(style="display:none;font-family:courier;")
            span.mapquesturl osmLayer = new OpenLayers.Layer.OSM( "MapQuest", ["http://otile1.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.jpg"] );
            span.skobblerurl(style="display:none;") osmLayer = new OpenLayers.Layer.OSM( "Skobbler", ["http://tiles1.skobbler.net/osm_tiles2/${z}/${x}/${y}.png"] );
            span.stamenurl(style="display:none;") osmLayer = new OpenLayers.Layer.OSM( "Stamen", ["http://a.tile.stamen.com/toner/${z}/${x}/${y}.png"] );
            span.mapnikurl(style="display:none;") osmLayer = new OpenLayers.Layer.OSM( "OpenStreetMap", ["http://a.tile.openstreetmap.org/${z}/${x}/${y}.png"] );
            br
            span map.addLayer( osmLayer );
            br
          div.span8.well#mapbox(style="display:none;font-family:courier;")
            span.mapquesturl m.addLayer(new MM.TemplatedLayer('http://otile1.mqcdn.com/tiles/1.0.0/osm/{Z}/{X}/{Y}.jpg'));
            span.skobblerurl(style="display:none;") m.addLayer(new MM.TemplatedLayer('http://tiles1.skobbler.net/osm_tiles2/{Z}/{X}/{Y}.png'));
            span.stamenurl(style="display:none;") m.addLayer(new MM.TemplatedLayer('http://a.tile.stamen.com/toner/{Z}/{X}/{Y}.png'));
            span.mapnikurl(style="display:none;") m.addLayer(new MM.TemplatedLayer('http://a.tile.openstreetmap.org/{Z}/{X}/{Y}.png'));
            br
            span m.ui.attribution.add()
            br
            span.mapquesturl &nbsp;&nbsp;.content('Tiles by MapQuest, Data &amp;copy; OpenStreetMap contributors.');
            span.skobblerurl(style="display:none;") &nbsp;&nbsp;.content('Tiles by Skobbler, Data &amp;copy; OpenStreetMap contributors.');
            span.stamenurl(style="display:none;") &nbsp;&nbsp;.content('Tiles by Stamen Design, Data &amp;copy; OpenStreetMap contributors.');
            span.mapnikurl(style="display:none;") &nbsp;&nbsp;.content('Tiles and Data &amp;copy; OpenStreetMap contributors.');
            br

  script(type="text/javascript") var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-35749214-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();